.cart-container{
    padding: 150px 10%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart{
    background-color: white;
    width: 100%;
}

.cart-header{
    width: 100%;
    text-align: center;
    color: rgb(75, 75, 75);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 1% 0%;
}

.cart-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}


.cart-footer{
    width: 100%;
    text-align: center;
    color: rgb(75, 75, 75);
    padding: 1% 0%;
}

.cart-empty{
    color: rgb(75, 75, 75);
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    text-align: center;
    background: white;

}

.cart-empty-title{
    
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

.cart-empty-subtitle{
    color: rgb(150, 150, 150);
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-decoration: none;
}

.cart-empty-subtitle:hover{
    text-decoration: underline;
}