.detail-content{
    background: white;
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    max-height: 70vh;
    padding: 20px 0;
    width: 100%;
}

.detail-image{
    background: white;
    display: flex;
    justify-content: center;
    max-height: 100%;
    width: 60%;

}

.detail-box{
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 20px;
    width: 35%;
}

.detail-image img{
    height: 100%;
    object-fit: contain;
    width: 100%;
}

.detail-title{
    color: rgb(27, 27, 27);
    font-size: 1.7rem;
}

.detail-description{
    color: rgb(27, 27, 27);
    font-size: 1.2rem;
}

.detail-price{
    color: rgb(27, 27, 27);
    font-size: 2rem;
}




@media (max-width: 768px) {
    .detail-content{
        flex-direction: column;
        max-height: 100%;
    }

    .detail-box{
        border: none;
        border-radius: 0;
        border-top: 1px solid #ccc;
        width: 100%;
    }
    
    .detail-image{ 
        margin: 0 auto;
    }

}