
.container {
    padding: 2% 10%;
    min-height: 700px;
}

.loader{
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0 auto;
    line-height: 100vh;
    width: 100%;
}