header {
  width: 100%;
  height: 70px;
  background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header .brand img {
  height: 65px;
}

header .menu .menu-list {
  display: flex;
  justify-content: center;
}

header .menu .menu-list .item {
  list-style: none;
  margin-left: 15px;
  font-size: 18px;
}

header .menu .menu-list .item:hover {
  text-decoration: underline;
}

header .menu .menu-list .item a{
    text-decoration: none;
    color: #00404a;
}

#check,
.checkbtn {
  display: none;
}

@media (max-width: 768px) {
  .checkbtn {
    display: block;
  }

  .menu-icon {
    display: block;
    position: fixed;
    top: 25px;
    right: 20px;
    cursor: pointer;
  }

  .menu .menu-list {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 70px;
    left: -120%;
    background: rgba(34, 34, 34, 0.6);
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .menu .menu-list .item {
    margin: 0;
    padding: 1rem;
    text-align: center;
  }
  .menu .menu-list .item a{
    color: white !important;
  }


  #check:checked ~ ul {
    left: 0;
    transition: all 0.25s;
  }
}
