@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
header {
  align-items: center;
  background: #fafafa;
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 0 40px;
  position: fixed;
  transition: all 0.5s ease-in-out;
  width: 100%;
}

.extend-header{
  height: 80px;
  transition: all 0.5s ease-in-out;
}

.extend-header img{
height: 40px !important;
transition: all 0.5s ease-in-out;
}


header .container-menu{
  display: flex;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  width: 40%;
}

header .container-brand{
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 20%;
}

header .container-icons{
  display: flex;
  flex-direction: row-reverse;
  width: 40%;
}

header .brand img {
  height: 35px;
  transition: all 0.5s ease-in-out;
}

header .menu .menu-list {
  display: flex;
  justify-content: center;
}

header .menu .menu-list .menu-list-item {
  font-size: 14px;
  margin-left: 15px;
  list-style: none;
}

header .menu .menu-list .menu-list-item:hover {
  text-decoration: underline;
}

header .menu .menu-list .menu-list-item a{
  color: black;
  text-decoration: none;
}

.active {
  font-weight: bold;
}

#check,
.checkbtn {
  display: none;
}

@media (max-width: 1000px) {

  header .box-icons {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 17%;
  }	

  .checkbtn {
    display: block;
  }

  .menu-icon {
    cursor: pointer;
    display: block;
    right: 20px;
    top: 25px;
  }

  .menu .menu-list {
    background: rgba(34, 34, 34, 0.6);
    display: flex;
    flex-direction: column;
    margin: 0;
    left: -120%;
    padding: 0;
    position: fixed;
    top: 60px;
    width: 100%;
  }

  .extend-header .menu .menu-list{
    top: 80px;
  }

  .menu .menu-list .menu-list-item {
    margin: 0;
    padding: 1rem;
    text-align: center;
  }
  .menu .menu-list .menu-list-item a{
    color: white !important;
  }

  #check:checked ~ ul {
    left: 0;
    transition: all 0.25s;
  }
}
