.counter-container {
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-around;
  width: 100%;

}

.counter-container button {
  color: rgb(1, 140, 165);
  font-size: 16px;
}

.counter-container .counter {
  background: white;
  border: 1px solid gray;
  border-radius: 4px;
  display: flex;
  font-size: 22px;
  justify-content: space-around;
  padding: 4px;
}

/* .counter-container */ .buy-btn,
.counter-container .add-btn{
  background: rgba(147, 129, 255,.8);
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  padding: 12px;
}

.counter-container .add-btn{
  background: rgb(147, 129, 255,.2);
  color: rgb(147, 129, 255);
}

/* .counter-container  */.buy-btn:hover{
  background: rgb(147, 129, 255);
}

.counter-container .add-btn:hover{
  background: rgba(147, 129, 255,.3);
}

.counter-container .counter .counter-minus,
.counter-container .counter .counter-plus {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.7rem;
}

.counter-container .counter .counter-minus:hover {
  color: red;
}

.counter-container .counter .counter-plus:hover{
    color: green;
}

